@import "utils";
@import "colors";
@import "typography";
@import "icons";
@import "variables";

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

h1 {
  @include graphene-font-style-heading();
}

::selection {
  background: rgba($color-ui-accent-400, 0.16);
  color: var(--color-ui-accent);
}

// Transitions
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: var(--transition-duration-regular);
  // transition-timing-function: var(--transition-timing-ease_in);
}
.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.9);
}
.pop-enter-to,
.pop-leave {
  opacity: 1;
  transform: scale(1);
}
.pop-enter-active,
.pop-leave-active {
  transition-property: transform, opacity;
  transition-duration: var(--transition-duration-slow);
  transition-timing-function: var(--transition-timing-ease_out);
}

.notification-enter,
.notification-leave-to {
  opacity: 0;
  transform: translateY(rem(-16px));
}
.notification-enter-to,
.notification-leave {
  opacity: 1;
  transform: translateY(0%);
}
.notification-enter-active,
.notification-leave-active {
  transition-duration: var(--transition-duration-regular);
  transition-property: transform, opacity;
  transition-timing-function: var(--transition-timing-ease_out);
}
