@import "utils";
@import "colors";
@import "typography";
@import "icons";
@import "motion";
@import "variables";

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

h1 {
  @include graphene-font-style-heading();
}

::selection {
  background: rgba($color-ui-accent-400, 0.16);
  color: var(--color-ui-accent);
}
