// Graphene Design System
// http://bit.ly/graphenedesign
// Browser's default stylings reset

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }
}

input,
textarea,
select,
button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background: inherit !important;
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;

  li {
    padding: 0;
  }
}
ul {
  list-style: none;
}

hr {
  border: none;
  margin: 0;
}
